body {
    margin: 0;
}


#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/****************STARTSKÆRM****************/

#start {
    background-image: url(grafik/startskaerm.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    top: 0;
    left: 0;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#play {
    background-image: url(grafik/start_knap_startskaerm.svg);
    background-size: 100%;
    width: 28vw;
    height: 5.6vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 50vw;
    top: 22.3vw;
}

#settings_buttom {
    background-image: url(grafik/setting_knap_startskaerm.svg);
    background-size: 100%;
    width: 32vw;
    height: 5.3vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 51.2vw;
    top: 39.4vw;
}


/****************SETTING****************/

#settings {
    background-image: url(grafik/setting.svg);
    background-size: 100%;
    width: 80vw;
    height: 54vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 12vw;
    top: 1vw;

}

#kryds_knap {
    background-image: url(grafik/kryds_knap.svg);
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    margin: auto;
    position: absolute;

    left: 66.9vw;
    top: 5.7vw;
}



/***********game background*************/

#game_background {
    background-image: url(grafik/baggrund.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

#karakteren {
    background-image: url(grafik/karakter_sprite.svg);
    background-size: 500% 100%;
    display: inline-block;
    width: 43vw;
    height: 50vw;
    margin: auto;

    position: absolute;
    left: 6vw;
    top: -3vw;
}

@keyframes karakter_move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

#liste_dyr {
    background-image: url(grafik/liste_dyr.svg);
    background-size: 100%;
    width: 18vw;
    height: 25.5vw;
    position: absolute;
    left: 34vw;
    top: 19vw;
}


#game_foreground {
    background-image: url(grafik/skrivebord_forgrund.svg);
    background-size: 100%;
    width: 35vw;
    height: 20.8vw;


    position: absolute;
    left: 0vw;
    top: 35.4vw;
}


#setting_knap_spil {
    background-image: url(grafik/setting_knap%20.svg);
    background-size: 100%;
    width: 3.5vw;
    height: 4.1vw;

    position: absolute;
    left: 1vw;
    top: 1vw;
}

/****************MISSION BOBBEL****************/

#mission {
    background-image: url(grafik/game_beskrivelse.svg);
    background-size: 100%;
    width: 50vw;
    height: 32vw;
    margin: auto;
    overflow: hidden;

    position: absolute;
    left: 30vw;
    top: 23vw;
}

#mission_play {
    background-image: url(grafik/play_mission.svg);
    background-size: 100%;
    width: 8vw;
    height: 5.3vw;
    margin: auto;
    overflow: hidden;

    position: absolute;
    left: 22.1vw;
    top: 24vw;
}


/****************BØGERNE****************/

/**bog somemrfugl**/
#bog_sommerfugl {
    background-size: 100%;
    width: 16vw;
    height: 5.3vw;

    position: absolute;
    left: 47vw;
    top: 2.4vw;
}

#bog_sommerfugl.foer_klik {
    background-image: url(grafik/bog_sommerfugl.svg);
}

#bog_sommerfugl.efter_klik {
    background-image: url(grafik/bog_sommerfugl_forkert.svg);
}


/**bog sol**/
#bog_sol {
    background-size: 100%;
    width: 5.2vw;
    height: 13vw;

    position: absolute;
    left: 71.5vw;
    top: 2.6vw;
}

#bog_sol.foer_klik {
    background-image: url(grafik/bog_sol.svg);
}


#bog_sol.efter_klik {
    background-image: url(grafik/bog_sol_forkert.svg);
}


/**bog gris**/
#bog_gris {
    background-size: 100%;
    width: 20vw;
    height: 4.3vw;

    position: absolute;
    left: 61vw;
    top: 17.4vw;
}

#bog_gris.foer_klik {
    background-image: url(grafik/bog_gris.svg);
}

#bog_gris.efter_klik {
    background-image: url(grafik/bog_gris_rigtig.svg);
}

/**bog får**/
#bog_faar {
    background-image: url(grafik/bog_faar.svg);

    background-size: 100%;
    width: 5.2vw;
    height: 9.8vw;

    position: absolute;
    left: 91.3vw;
    top: 20.4vw;
}

#bog_faar.foer_klik {
    background-image: url(grafik/bog_faar.svg);
}

#bog_faar.efter_klik {
    background-image: url(grafik/bog_faar_rigtig.svg);
}

/**bog hund**/

#bog_hund {
    background-size: 100%;
    width: 5.1vw;
    height: 9.6vw;

    position: absolute;
    left: 79.6vw;
    top: 34.1vw;
}


#bog_hund.foer_klik {
    background-image: url(grafik/bog_hund.svg);
}

#bog_hund.efter_klik {
    background-image: url(grafik/bog_hund_forkert.svg);
}


/**bog ko**/

#bog_ko {
    background-size: 100%;
    width: 4.7vw;
    height: 10vw;

    position: absolute;
    left: 55.4vw;
    top: 45.2vw;
}

#bog_ko.foer_klik {
    background-image: url(grafik/bog_ko.svg);
}

#bog_ko.efter_klik {
    background-image: url(grafik/bog_ko_rigtig.svg);
}

/**bog kat**/

#bog_kat {
    background-size: 100%;
    width: 4.7vw;
    height: 8.7vw;

    position: absolute;
    left: 65.2vw;
    top: 46.5vw;
}

#bog_kat.foer_klik {
    background-image: url(grafik/bog_kat.svg);
}

#bog_kat.efter_klik {
    background-image: url(grafik/bog_kat_rigtig.svg);
}

/**bog elefant**/

#bog_elefant {
    background-size: 100%;
    width: 7.5vw;
    height: 9.9vw;

    position: absolute;
    left: 89.1vw;
    top: 45.2vw;
}

#bog_elefant.foer_klik {
    background-image: url(grafik/bog_elefant.svg);
}

#bog_elefant.efter_klik {
    background-image: url(grafik/bog_elefant_forkert.svg);
}



/****************POINT****************/

#points {
    background-size: 100%;
    width: 12vw;
    height: 7.8vw;

    position: absolute;
    left: 11.5vw;
    top: 42.2vw;

    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 4vw;
}



/****************LIV****************/

#energy {
    background-size: 100%;
    width: 12vw;
    height: 4.6vw;

    position: absolute;
    left: 11.5vw;
    top: 48.7vw;

    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 4vw;
}

/****************TID****************/
#time {
    background-image: url(grafik/ur_skive.svg);
    background-size: 100%;
    width: 2vw;
    height: 5vw;

    position: absolute;
    left: 7.8vw;
    top: 8vw;
}



/*********************GAME OVER******************/


#gameover {
    background-image: url(grafik/game_over_firkant.svg);
    background-size: 100%;
    width: 80vw;
    height: 54vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 12vw;
    top: 1vw;
}


#menu_knap {
    background-image: url(grafik/menu_knap.svg);
    background-size: 100%;
    width: 6.2vw;
    height: 5.7vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 60vw;
    top: 45vw;
}

#spil_igen_knap {
    background-image: url(grafik/spil_igen_knap.svg);
    background-size: 100%;
    width: 5.7vw;
    height: 5.7vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 68vw;
    top: 45vw;
}

/****************LEVEL COMPLETE****************/

#level_complete {
    background-image: url(grafik/win_firkant.svg);
    background-size: 100%;
    width: 80vw;
    height: 54vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 12vw;
    top: 1vw;

}


#menu_knap {
    background-image: url(grafik/menu_knap.svg);
    background-size: 100%;
    width: 6.2vw;
    height: 5.7vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 60vw;
    top: 45vw;
}

#spil_igen_knap {
    background-image: url(grafik/spil_igen_knap.svg);
    background-size: 100%;
    width: 5.7vw;
    height: 5.7vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 68vw;
    top: 45vw;
}


/******************EFFEKTER********************/


/***swipe effekt til level complete og game over**/

.swipe_up {
    animation-name: swipe_up;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


@keyframes swipe_up {
    from {
        transform: translateY(60vw);
    }

    to {
        transform: translateY(6vw);
    }

}

/***hide effekt**/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.disappear {
    visibility: hidden;
}

/*****pulsing**/
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

/*****time rotation **/

.time_rotation {
    animation-name: time;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: 50% 92%;
}


@keyframes time {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }


}

/*****BØGER ANIMATION*****/

.rotation {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: reverse;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }

    50% {
        transform: rotate(360deg) scale(2);
        opacity: 0.5;
    }

    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

.scaling {
    animation-name: scaling;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: reverse;
}


@keyframes scaling {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*****Fade out*****/

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}




/*******MUSIK TOGGLE**********/

#lydeffekter_sprite {
    background-size: 500% 100%;
    width: 10vw;
    height: 10vw;
    background-image: url(grafik/Toggle_sprite.svg);
    display: inline-block;
    position: absolute;

    left: 44.3vw;
    top: 31vw;
}

#music_sprite {
    background-size: 500% 100%;
    width: 10vw;
    height: 10vw;
    background-image: url(grafik/Toggle_sprite.svg);
    display: inline-block;
    position: absolute;

    left: 27vw;
    top: 24vw;
}


.on {
    background-position: 0;
    /*    background-color: green;*/
}

.off {
    background-position: -400% 0;
    /*    background-color: red;*/
}


.off_on {
    animation-name: on_off_kf;
    animation-direction: reverse;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);

}

.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}
