#screen {
    position: relative;
}

#game_background {
    background-image: url(grafik/baggrund.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#karakteren {
    background-image: url(grafik/karakteren.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35vw;
    height: 50vw;
    margin: auto;
    overflow: hidden;

    position: absolute;
    left: 13vw;
    top: 4vw;
}


#game_foreground {
    background-image: url(grafik/skrivebord_forgrund.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35vw;
    height: 25vw;


    position: absolute;
    left: 0vw;
    top: 35.4vw;
}

#bog_sommerfugl {
    background-image: url(grafik/bog_sommerfugl.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16vw;
    height: 7vw;

    position: absolute;
    left: 47vw;
    top: 2.4vw;
}

#bog_sol {
    background-image: url(grafik/bog_sol.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5.2vw;
    height: 13vw;

    position: absolute;
    left: 71.5vw;
    top: 2.8vw;
}


#bog_gris {
    background-image: url(grafik/bog_gris.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 5vw;

    position: absolute;
    left: 61vw;
    top: 17.4vw;
}

#bog_faar {
    background-image: url(grafik/bog_faar.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5.2vw;
    height: 12vw;

    position: absolute;
    left: 91.3vw;
    top: 20.5vw;
}

#bog_hund {
    background-image: url(grafik/bog_hund.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 5.2vw;
    height: 12vw;

    position: absolute;
    left: 79.3vw;
    top: 33.9vw;
}

#bog_ko {
    background-image: url(grafik/bog_ko.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4.7vw;
    height: 12vw;

    position: absolute;
    left: 55.6vw;
    top: 45.2vw;
}

#bog_kat {
    background-image: url(grafik/bog_kat.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4.7vw;
    height: 10vw;

    position: absolute;
    left: 65.3vw;
    top: 46.4vw;
}

#bog_elefant {
    background-image: url(grafik/bog_elefant.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 7.5vw;
    height: 10vw;

    position: absolute;
    left: 89vw;
    top: 45.2vw;
}

#points {
    background-image: url(grafik/point.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12vw;
    height: 10vw;

    position: absolute;
    left: 2vw;
    top: 40vw;
}


#energy {
    background-image: url(grafik/liv.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 12vw;
    height: 10vw;

    position: absolute;
    left: 2vw;
    top: 49vw;
}

#time {
    background-image: url(grafik/ur_skive.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 6vw;

    position: absolute;
    left: 7.8vw;
    top: 8vw;
}

#start {
    background-image: url(grafik/startskaerm.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
    display: none;
}

#settings {
    background-image: url(grafik/setting.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 60vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 12vw;
    top: 1vw;

    display: none;
}

#gameover {
    background-image: url(grafik/game_over_firkant.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 60vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 12vw;
    top: 1vw;
    display: none;
}

#levelcomplete {
    background-image: url(grafik/win_firkant.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 60vw;
    margin: auto;
    position: absolute;
    overflow: hidden;

    left: 12vw;
    top: 1vw;
    display: none;

}
